@import '../../App.css';

.favs {
    h1, h5 {
      text-align: center !important;
    }
  h5 {
    margin-bottom: 4em;
  }
}

.fav-table {
  td {
    padding: 0 auto;
  }
  .btn-custom {
    margin: 0;
  }
}