.container {
  padding-top: 2em; }

.main-panel {
  padding: 1em 2em;
  background: linear-gradient(to top left, #222, #3c3c3c);
  color: #ddd; }

.row {
  margin-bottom: 1.5em; }

.container-fluid {
  margin: 0 !important;
  padding: 0 !important; }

.menu {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0; }
  .menu i {
    margin-right: 10px; }
