@import '../App.scss';

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em;
  span {
    @include custom-transition();
    font-size: 1em;
    text-transform: uppercase;
    &:hover {
      color: $colorAccent;
    }
  }
}

.search-box_title {
  @include icon-move();
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
}

.search-box__center {
  justify-content: space-around;
}
.search-box_icon {
  @include flex-align();
  width: 3em;
  font-size: 1.2em;
}

.search-input {
  width: 20em;
}

.search-box_check {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.search-time-input {
  @include shadow-content();
  width: 5em;
  margin: 0 1em;
}

.rc-time-picker-input {
  text-align: center;
}

.search-button {
  @include icon-move();
  @include shadow-content();
  background: $colorAccent;
}