//********************  IMPORTS  ********************
@import './Mixins.scss';
@import './Variables.scss';

//********************  GLOBAL  ********************
.container {
  padding-top: 2em;
}

.main-panel {
  padding: 1em 2em;
  background: linear-gradient(to top left, $colorMain, lighten($colorMain, 10%));
  color: $colorFont;
}

.row {
  margin-bottom: 1.5em;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}