div.auth-box__not-log {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: 10px;
}