input[type=email] {
  background: linear-gradient(to top right, #222, #3c3c3c);
  color: #ddd;
  border: none;
  border-radius: 5px;
  margin-right: 10px; }
  input[type=email]:active {
    border-color: red !important; }

.container {
  padding-top: 2em; }

.main-panel {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(to top right, #222, #3c3c3c);
  padding: 1em 2em;
  color: #ddd;
  border-radius: 5px;
  position: relative; }

.menu-panel {
  margin-top: -2.5em;
  border-radius: 5px; }
  @media only screen and (min-width: 992px) {
    .menu-panel {
      margin-top: -12em; } }

.row {
  margin-bottom: 1.5em; }

.container-fluid {
  margin: 0 !important;
  padding: 0 !important; }

h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-top: 30px; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

.important-info {
  transition: color 0.3s, background 0.3s, transform 0.3s;
  font-size: 1em;
  text-decoration: none;
  color: #0c8ff2; }
  .important-info:hover {
    text-decoration: none;
    cursor: pointer; }

.btn-custom {
  transition: color 0.3s, background 0.3s, transform 0.3s;
  background: linear-gradient(to top right, #222, #3c3c3c);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid #2b2b2b;
  color: #aaaaaa;
  outline: none;
  text-transform: uppercase;
  text-shadow: none;
  margin: 15px 0;
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: 1px; }
  .btn-custom:hover {
    background: #0c8ff2;
    color: #ddd;
    border-color: #0c8ff2; }

.btn-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: darkred;
  color: #ddd;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  outline: none;
  border: none;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 0.8em; }
  .btn-exit:hover {
    background: #720000;
    color: #ddd; }

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: darkgreen;
  color: #ddd;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  outline: none;
  border: none;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 0.8em; }
  .btn-back:hover {
    background: #004b00;
    color: #ddd; }

.modal-content {
  transition: color 0.3s, background 0.3s, transform 0.3s;
  background: #222;
  border: none;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 1px; }
  .modal-content .fa-times {
    font-size: 0.7em; }
  .modal-content span {
    color: #0c8ff2; }
  .modal-content .fa-frown-o {
    color: #0c8ff2;
    font-size: 3em;
    margin-bottom: 20px; }

.modal-custom {
  background: #151515;
  color: #ddd;
  border: none; }

.modal-custom-header {
  padding-top: 3em;
  text-align: center; }

.modal-custom-body {
  text-align: center;
  border-width: 0 !important;
  outline: none !important; }
  .modal-custom-body .btn-custom {
    margin: 5px; }

.modal-custom-header_reset {
  font-size: 0.8em; }
  .modal-custom-header_reset h4 {
    margin-bottom: 1em; }
  .modal-custom-header_reset span {
    color: #0c8ff2; }

h1.lines {
  margin-bottom: 1em; }

ul.lines {
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  list-style-type: none; }
  ul.lines li {
    transition: color 0.3s, background 0.3s, transform 0.3s;
    border: 1px solid #151515;
    background: #222;
    color: #aaaaaa;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em; }
    ul.lines li:hover {
      color: #ddd;
      background: #080808;
      cursor: pointer; }
