@import '../App.scss';

.schedule-view {
  h1 {
    margin-bottom: 1.5em;
  }
  .line-number_header {
    background: $colorAccent;
    border: 4px solid $colorAccent;
  }
  .line-number {
    border: 4px solid $colorAccent;
    margin: 10px;
  }
  .line-hour {
    border-top: transparent;
    border-bottom: 4px solid darken($colorAccent, 15%);
  }
}
