@import '../App.scss';

.schedule-view {
  h1 {
    margin-bottom: 1.5em;
  }
  .line-number_header {
    background: $colorAccent;
    border: 4px solid $colorAccent;
  }
  .line-number {
    background: $colorMain;
    border: 4px solid $colorAccent;
    margin: 10px;
  }
  .line-number-outter:nth-child(odd) {
    background: darken($colorAccent, 35%);
  }
  .line-number-outter:nth-child(even) {
    background: darken($colorAccent, 40%);
  }
  .line-hour {
    border-top: transparent;
    border-bottom: transparent;
    display: inline-block;
    @media #{$medium} {
      display: table-cell;
    }
  }
}
