.container {
  padding-top: 2em; }

.main-panel {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(to top right, #222, #3c3c3c);
  padding: 1em 2em;
  color: #ddd;
  border-radius: 5px; }

.row {
  margin-bottom: 1.5em; }

.container-fluid {
  margin: 0 !important;
  padding: 0 !important; }

h1 {
  font-size: 1.5em;
  letter-spacing: 1px; }

select.stops {
  margin: 1em 0;
  background: #222;
  outline: none;
  border: none;
  font-size: 1.2em;
  padding: 0.5em; }
